<main>
    <div class="frame center">
        <div class="frame__head"></div>
        <div class="frame__main">
            <div style="margin-left: 20px;">
                <h2 class="heading">Enter any statement</h2>
                <div class="d-flex mt-2" style="flex-wrap:wrap; row-gap: 10px;">
                    <span>Example:</span>
                    <span>(3 + 2)</span>
                    <span>(-3 - 10)</span>
                    <span>(-10 * 2)</span>
                    <span>(24 / 2)</span>
                </div>
            </div>
            <div class="">
                <form action="">
                    <div style="width: 100%;" class="px-1">
                        <input type="text" class="input-1" id="statement" required>
                    </div>
                    <div class="w-100 d-flex mt-2">
                        <button type="button" class="btn-submit" onclick="Handle()">Calculate</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="frame__foot"></div>
    </div>
</main>

{{!-- <div class="dialog">
    <div class="dialog__head">
        <h3>Result</h3>
    </div>
    <div class="dialog__main">
        <span class="result-value">
            ?
        </span>
    </div>
    <div class="dialog__foot"></div>
</div> --}}

{{!--
<script src=""></script> --}}
{{{javascript}}}